<article class="w-full h-[500px] overflow-hidden flex flex-col items-center justify-center relative md:px-20 xs:px-0">
    <header class="text-center absolute top-0 z-10">
        <span class="block font-bold sm:text-[55px] sm:leading-[63px]">
            Sometimes you have to
        </span>
        <span class="block font-bold sm:text-[55px] sm:leading-[63px]">
            Sometimes you have to
        </span>
        <span class="block font-bold sm:text-[55px] sm:leading-[63px]">
            Of your favorite things
        </span>
    </header>
    <img src="/" alt="">
</article>